#content{
    display: flex;
    justify-content: center;
    width: 100%;
}
.loginContent, .registerContent{
    background: steelblue;
    border-radius: 5px;
    position: fixed;
    top: 20%;
    right: 15%;
    padding: 2%;
}
/*详情界面input*/
.loginContent .zte-form-item-content,
.registerContent .zte-form-item-content{
    width: 100%;
}