<section class="home" id="home" style="width: 100%">
    <div class="modal-header" id="home-head">
        <h1 id="home-title">Reservation Management System</h1>
        <div class="form-control" id="home-head-right">
            <label id="Name"></label>
            <i class="glyphicon glyphicon-off" id="home-off"></i>
        </div>
    </div>
    <div id="horizontal" style="height:600px">
        <div id="left-pane">
            <div id="nav"></div>
            <!--<div id="top-pane">-->
                <!--<ul id="treeDemo" class="ztree"></ul>-->
            <!--</div>-->
            <!--<div id="middle-pane">-->
                <!--<div class="pane-content">-->
                    <!--<h5>Outer splitter / middle pane</h5>-->
                    <!--<p>Resizable only.</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div id="right-pane" style="overflow:hidden;">
            <div id="right-content"></div>
        </div>
    </div>
</section>