<section class="home" id="home" style="width: 100%">
    <div id="horizontal" style="height:500px">
        <div id="left-pane">
            <div id="nav"></div>
            <!--<div id="top-pane">-->
                <!--<ul id="treeDemo" class="ztree"></ul>-->
            <!--</div>-->
            <!--<div id="middle-pane">-->
                <!--<div class="pane-content">-->
                    <!--<h5>Outer splitter / middle pane</h5>-->
                    <!--<p>Resizable only.</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div id="right-pane" style="overflow:hidden">
            <div id="gridId"></div>
        </div>
    </div>
</section>