<section><div class="pt-wrap">
    <div class="user-wrap">
        <!-- header -->
        <div class="modal-header" style="margin-bottom: 2px;">
            <button type="button" class="btn btn-primary " id="addProjectMember">
                <span class="glyphicon zte-iconfont icon-add-a"></span>添加成员
            </button>
            <button type="button" class="btn btn-primary " id="deleteProjectMember">
                <span class="glyphicon zte-iconfont icon-add-a"></span>删除成员
            </button>
        </div>
        <!-- body -->
        <div class="modal-body">
            <!-- 列表 -->
            <!--  分页 pagination-specGrp-->
            <div id="project-pagination" class="text-right" style="margin-top: 20px"></div>

        </div>
    </div>
</div></section>