<section><div class="pt-wrap">
    <div class="register">
        <form class="row" id="registerForm">
            <div class="zte-form-item-content">
                <h3 class="modal-title">注册</h3></div>
            <div class="zte-form-item-content">
                <div class="form-group has-prompt">
                    <span class="glyphicon glyphicon-user form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control userAccount " placeholder="账号"/></div>
            </div>

            <div class="zte-form-item-content">
                <div class="form-group  has-feedback">
                    <input class="form-control userPassword" type="password" placeholder="密码"/>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span></div>
            </div>

            <div class="zte-form-item-content">
                <div class="form-group has-prompt">
                    <span class="glyphicon glyphicon-user form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control userName" placeholder="用户身份"/></div>
            </div>

            <div class="zte-form-item-content">
                <div class="form-group has-prompt">
                    <span class="glyphicon glyphicon-phone form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control userPhone" placeholder="手机号码"/></div>
            </div>

            <div class="zte-form-item-content">
                <div class="form-group has-prompt">
                    <span class="glyphicon glyphicon-envelope form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control userEmail" placeholder="Email"/></div>
            </div>

            <div class="zte-form-item-content">
                <button class="registerBtn btn btn-primary ">注册</button></div>

            <div class="zte-form-item-content">
                <a class="loginBtn">登录<i class="icon-arrow"></i></a></div>
        </form>
    </div>
</div></section>