#right-pane,#left-pane{
    display: flex;
    justify-content: flex-start;
}
#home-head{
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}
#home-title{
    font-family: "Britannic Bold";
    font-style: italic;

}

.body-item{
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
#right-content{
    min-width: 700px;
}

#home-head-right{
    max-width: 100px;
    margin: auto 0 auto;
    display: flex;
    justify-content: space-around;
}
#home-off{
    margin: auto;
}
.form-group{
    display: flex;
    justify-content: flex-start;
}
.row{
    /*display: flex;*/
    /*justify-content: center;*/
}
.page-item{
    display: flex;
    justify-content: flex-start;
}
.page-item-group{
    display: flex;
    justify-content: space-between;
}

/*详情界面input*/
.zte-form-item-content{
    width: 50%;
}

#home-head-right{
    background: dodgerblue;
}