<section id="res" class="res"><div class="pt-wrap">
        <div class="modal-header" style="margin-bottom: 2px;">
            <h5 class="modal-title" style="margin-bottom: 14px; font-size: 16px; font-weight: 600;">
                <div id="resEditTitle">物品详情</div>
                <span style="float: right; font-size: 10px; cursor: pointer;" class="flex-slide" fd="interface-flex1"> </span>
            </h5>
        </div>
        <div class="org-select-body modal-body">
            <form class="row" id='resFormInfo' >
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品名称</label>
                            <div class="zte-form-item-content">
                                <input name="resName" class="form-control" id="resName" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品编号</label>
                            <div class="zte-form-item-content">
                                <input name="resCode" class="form-control" id="resCode" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品规格</label>
                            <div class="zte-form-item-content">
                                <input name="resStandard" class="form-control" id="resStandard" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品价格</label>
                            <div class="zte-form-item-content">
                                <input name="resPrice" class="form-control" id="resPrice" data-rule="required" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品保管人</label>
                            <div class="zte-form-item-content">
                                <input name="resCustodian" class="form-control" id="resCustodian" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品存放地</label>
                            <div class="zte-form-item-content">
                                <input name="resLocation" class="form-control" id="resLocation" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品类别</label>
                            <div class="zte-form-item-content">
                                <input name="resClass" class="form-control" id="resClass" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品级别</label>
                            <div class="zte-form-item-content">
                                <input name="resType" class="form-control" id="resType" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品状态</label>
                            <div class="zte-form-item-content">
                                <input name="resState" class="form-control" id="resState" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">采购日期</label>
                            <div class="zte-form-item-content">
                                <input type="text" name="resEnabledate" class="form-control" id="resEnabledate" data-today-btn="true" data-rule="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="resComnameDiv">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">所属公司</label>
                            <div class="zte-form-item-content">
                                <input type="text" name="resComname" class="form-control" id="resComname" data-today-btn="true" data-rule="required" >
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="attr-select-footer modal-footer">
            <button type="button" class="btn btn-primary confirm_attention_select_btn" id="saveProject">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeProject">取消</button>
        </div>

</div></section>