<section><div class="pt-wrap">
    <div class="user-wrap">
        <div class="modal-header" style="margin-bottom: 2px;">
            <h5 class="modal-title" style="margin-bottom: 14px; font-size: 16px; font-weight: 600;">
                <div id="reserveEditTitle">物品详情</div>
                <span style="float: right; font-size: 10px; cursor: pointer;" class="flex-slide" fd="interface-flex1"> </span>
            </h5>
        </div>
        <div class="org-select-body modal-body">
            <form class="row" id='reserveFormInfo' >
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品名称</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorResName" class="form-control" id="BorResName" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品编号</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorResCode" class="form-control" id="BorResCode" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">物品规格</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorResStandard" class="form-control" id="BorResStandard" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">预约人员</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorUserAccount" class="form-control" id="BorUserAccount" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">预约原因</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorReason" class="form-control" id="BorReason" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">借用日期</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorStartDate" class="form-control" id="BorStartDate" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">预归还日期</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorEndDate" class="form-control" id="BorEndDate" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">预约状态</label>
                            <div class="zte-form-item-content" style="margin-left: 165px">
                                <input name="BorState" class="form-control" id="BorState" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="attr-select-footer modal-footer">
            <button type="button" class="btn btn-primary confirm_attention_select_btn" id="saveReserve">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeProject">取消</button>
        </div>
    </div>

</div></section>