<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luopm.reservationmanagement.Dao.ResMapper" >
  <resultMap id="BaseResultMap" type="com.luopm.reservationmanagement.Model.Res" >
    <id column="res_id" property="resId" jdbcType="INTEGER" />
    <result column="res_code" property="resCode" jdbcType="VARCHAR" />
    <result column="res_name" property="resName" jdbcType="VARCHAR" />
    <result column="res_standard" property="resStandard" jdbcType="VARCHAR" />
    <result column="res_price" property="resPrice" jdbcType="DECIMAL" />
    <result column="res_location" property="resLocation" jdbcType="VARCHAR" />
    <result column="res_custodian" property="resCustodian" jdbcType="VARCHAR" />
    <result column="res_custodiancode" property="resCustodiancode" jdbcType="VARCHAR" />
    <result column="res_enabledate" property="resEnabledate" jdbcType="TIMESTAMP" />
    <result column="res_scrapdate" property="resScrapdate" jdbcType="TIMESTAMP" />
    <result column="res_state" property="resState" jdbcType="INTEGER" />
    <result column="res_class" property="resClass" jdbcType="INTEGER" />
    <result column="res_type"  property="resType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    res_id, res_code, res_name, res_standard, res_price, res_location, res_custodian, 
    res_custodiancode, res_enabledate, res_scrapdate, res_state, res_class, res_type
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from res_info
    where res_id = #{resId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from res_info
    where res_id = #{resId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.luopm.reservationmanagement.Model.Res" >
    insert into res_info (res_id, res_code, res_name, 
      res_standard, res_price, res_location, 
      res_custodian, res_custodiancode, res_enabledate, 
      res_scrapdate, res_state, res_class,
      res_type)
    values (#{resId,jdbcType=INTEGER}, #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR}, 
      #{resStandard,jdbcType=VARCHAR}, #{resPrice,jdbcType=DECIMAL}, #{resLocation,jdbcType=VARCHAR}, 
      #{resCustodian,jdbcType=VARCHAR}, #{resCustodiancode,jdbcType=VARCHAR}, #{resEnabledate,jdbcType=TIMESTAMP}, 
      #{resScrapdate,jdbcType=TIMESTAMP}, #{resState,jdbcType=INTEGER}, #{resClass,jdbcType=INTEGER},
      #{resType,jdbcType=INTEGER})
  </insert>
  <insert id="addRes" parameterType="com.luopm.reservationmanagement.Model.Res" >
    insert into res_info (res_id, res_code, res_name,
      res_standard, res_price, res_location,
      res_custodian, res_custodiancode, res_enabledate,
      res_scrapdate, res_state, res_class, res_type)
    values (#{resId,jdbcType=INTEGER}, #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR},
      #{resStandard,jdbcType=VARCHAR}, #{resPrice,jdbcType=DECIMAL}, #{resLocation,jdbcType=VARCHAR},
      #{resCustodian,jdbcType=VARCHAR}, #{resCustodiancode,jdbcType=VARCHAR}, #{resEnabledate,jdbcType=TIMESTAMP},
      #{resScrapdate,jdbcType=TIMESTAMP}, #{resState,jdbcType=INTEGER}, #{resClass,jdbcType=INTEGER},
      #{resType,jdbcType=INTEGER})
  </insert>
  <delete id="deleteRes" parameterType="com.luopm.reservationmanagement.Model.Res" >
    delete from res_info
    where res_code = #{resCode,jdbcType=VARCHAR}
  </delete>
  <update id="updateRes" parameterType="com.luopm.reservationmanagement.Model.Res" >
    update res_info
    <set >
      <if test="resName != null" >
        res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resStandard != null" >
        res_standard = #{resStandard,jdbcType=VARCHAR},
      </if>
      <if test="resPrice != null" >
        res_price = #{resPrice,jdbcType=DECIMAL},
      </if>
      <if test="resLocation != null" >
        res_location = #{resLocation,jdbcType=VARCHAR},
      </if>
      <if test="resCustodian != null" >
        res_custodian = #{resCustodian,jdbcType=VARCHAR},
      </if>
      <if test="resCustodiancode != null" >
        res_custodiancode = #{resCustodiancode,jdbcType=VARCHAR},
      </if>
      <if test="resEnabledate != null" >
        res_enabledate = #{resEnabledate,jdbcType=TIMESTAMP},
      </if>
      <if test="resScrapdate != null" >
        res_scrapdate = #{resScrapdate,jdbcType=TIMESTAMP},
      </if>
      <if test="resState != null" >
        res_state = #{resState,jdbcType=INTEGER},
      </if>
      <if test="resClass != null" >
        res_typecode = #{resClass,jdbcType=INTEGER},
      </if>
      <if test="resType != null" >
        res_type = #{resType,jdbcType=INTEGER}
      </if>
    </set>
    where res_code = #{resCode,jdbcType=VARCHAR}
  </update>
  <select id="getRes" resultMap="BaseResultMap" parameterType="com.luopm.reservationmanagement.Model.Res" >
    select
    <include refid="Base_Column_List" />
    from res_info
    where res_code = #{resCode,jdbcType=VARCHAR}
  </select>
  <select id="getResList" resultMap="BaseResultMap" parameterType="com.luopm.reservationmanagement.Model.Res" >
    select
    <include refid="Base_Column_List" />
    from res_info
    where 1 = 1
    <if test="resCode != null" >
      <bind name="resCodeLike" value="'%' + resCode + '%'" />
      and res_code like #{resCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="resName != null" >
      <bind name="resNameLike" value="'%' + resName + '%'" />
      and res_name like #{resNameLike,jdbcType=VARCHAR}
    </if>
    <if test="resStandard != null" >
      <bind name="resStandardLike" value="'%' + resStandard + '%'" />
      and res_standard like #{resStandardLike,jdbcType=VARCHAR}
    </if>
    <if test="resPrice != null" >
      and res_price >= #{resPrice,jdbcType=DECIMAL}
    </if>
    <if test="resLocation != null" >
      <bind name="resLocationLike" value="'%' + resLocation + '%'" />
      and res_location like #{resLocationLike,jdbcType=VARCHAR}
    </if>
    <if test="resCustodian != null" >
      <bind name="resCustodianLike" value="'%' + resCustodian + '%'" />
      and res_custodian like #{resCustodianLike,jdbcType=VARCHAR}
    </if>
    <if test="resCustodiancode != null" >
      <bind name="resCustodiancodeLike" value="'%' + resCustodiancode + '%'" />
      and res_custodiancode like #{resCustodiancodeLike,jdbcType=VARCHAR}
    </if>
    <if test="resEnabledate != null" >
      and res_enabledate >= #{resEnabledate,jdbcType=TIMESTAMP}
    </if>
    <if test="resScrapdate != null" >
      and res_scrapdate >= #{resScrapdate,jdbcType=TIMESTAMP}
    </if>
    <if test="resState != null" >
      and res_state = #{resState,jdbcType=INTEGER}
    </if>
    <if test="resClass != null" >
      and res_class = #{resClass,jdbcType=INTEGER}
    </if>
    <if test="resType != null" >
      and res_type = #{resType,jdbcType=INTEGER}
    </if>
  </select>

</mapper>