<section><div class="pt-wrap">
    <div class="user-wrap">
        <!-- header -->
        <div class="modal-header" style="margin-bottom: 2px;">
            <div class="zte-search-condition">
                <div class="zte-title-list zte-clear">
                    <div class="zte-clear">
                        <button id="addReturn" class="btn btn-default" style="margin-top: -3px;margin-left: -10px;border:none"><i class="iconfont icon-return-a"></i></button>
                        <label class="zte-title" id="projectName" style="margin-left: 5px;font-size:1.2em">用户管理</label>
                        <div class="action-button zte-clear">
                            <button type="button" class="btn" id="UserEnable">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>生效
                            </button>
                            <button type="button" class="btn" id="UserDisable">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>失效
                            </button>
                            <button type="button" class="btn" id="UserResetPassword">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>重置密码
                            </button>
                            <button type="button" class="btn" id="UserCheckOk">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>审核通过
                            </button>
                            <button type="button" class="btn" id="UserCheckNotOk">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>审核不通过
                            </button>
                            <button type="button" class="btn" id="UserResManage">
                                <span class="glyphicon zte-iconfont icon-add-a"></span>授权管理
                            </button>
                        </div>
                        <div class="zte-search-wrap zte-clear">
                            <div class="dropdown zte-fl">
                                <!--<i class="zte-iconfont icon-search-a" id="searchByUserCode"></i>-->
                                <input name="keyword" id="keywordName" style="width: 200px;margin-right: 10px;" class="form-control" placeholder="输入用户名查询">
                            </div>
                            <div class="dropdown zte-fl">
                                <i class="zte-iconfont icon-search-a" id="searchByAccount"></i>
                                <input name="keyword" id="keywordAccount" style="width: 200px;" class="form-control" placeholder="输入账号查询">
                            </div>
                            <!--<button type="button" class="btn btn-primary " id="addUser">-->
                                <!--<span class="glyphicon zte-iconfont icon-add-a"></span>添加成员-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-primary " id="deleteUser">-->
                                <!--<span class="glyphicon zte-iconfont icon-add-a"></span>删除成员-->
                            <!--</button>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- body -->
        <div class="modal-body">

            <!-- 列表 -->
            <div class="row" >
                <div class="meta-table-2">
                    <div id="UserList">
                    </div>
                </div>
            </div>
            <!--  分页 pagination-specGrp-->
            <div id="user-pagination" class="text-right" style="margin-top: 20px"></div>

        </div>
    </div>
</div></section>