<section id="user"><div class="pt-wrap">
    <div class="user-wrap">
        <div class="modal-header" style="margin-bottom: 2px;">
            <h5 class="modal-title" style="margin-bottom: 14px; font-size: 16px; font-weight: 600;">
                <div id="userEditTitle">用户详情</div>
                <span style="float: right; font-size: 10px; cursor: pointer;" class="flex-slide" fd="interface-flex1"> </span>
            </h5>
        </div>
        <div class="org-select-body modal-body">
            <form class="row" id='userFormInfo' >
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">用户账号</label>
                            <div class="zte-form-item-content">
                                <input name="userAccount" class="form-control" id="userAccount" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">用户密码</label>
                            <div class="zte-form-item-content">
                                <input name="userPassword" class="form-control" id="userPassword" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">用户身份</label>
                            <div class="zte-form-item-content">
                                <input name="userName" class="form-control" id="userName" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">联系方式</label>
                            <div class="zte-form-item-content">
                                <input name="userPhone" class="form-control" id="userPhone" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">邮箱</label>
                            <div class="zte-form-item-content">
                                <input name="userEmail" class="form-control" id="userEmail" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">用户状态</label>
                            <div class="zte-form-item-content">
                                <input name="userDisable" class="form-control" id="userDisable" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">是否人脸认证</label>
                            <div class="zte-form-item-content">
                                <input name="userFace" class="form-control" id="userFace" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="attr-select-footer modal-footer">
            <!--<button type="button" class="btn btn-primary confirm_attention_select_btn" id="saveUser">确定</button>-->
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeUser">取消</button>
        </div>
    </div>

</div></section>