<section id="com"><div class="pt-wrap">
        <div class="modal-header" style="margin-bottom: 2px;">
            <h5 class="modal-title" style="margin-bottom: 14px; font-size: 16px; font-weight: 600;">
                <div id="comEditTitle">组织详情</div>
                <span style="float: right; font-size: 10px; cursor: pointer;" class="flex-slide" fd="interface-flex1"> </span>
            </h5>
        </div>
        <div class="org-select-body modal-body">
            <form class="row" id='comFormInfo' >
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业编号</label>
                            <div class="zte-form-item-content">
                                <input name="comCode" class="form-control" id="comCode" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业名称</label>
                            <div class="zte-form-item-content">
                                <input name="comName" class="form-control" id="comName" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业类型</label>
                            <div class="zte-form-item-content">
                                <input name="comType" class="form-control" id="comType" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业邮箱</label>
                            <div class="zte-form-item-content">
                                <input name="comEmail" class="form-control" id="comEmail" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业电话</label>
                            <div class="zte-form-item-content">
                                <input name="comTel" class="form-control" id="comTel" data-rule="required" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业关联账号</label>
                            <div class="zte-form-item-content">
                                <input name="comAccount" class="form-control" id="comAccount" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业状态</label>
                            <div class="zte-form-item-content">
                                <input name="comState" class="form-control" id="comState" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group search-1 required">
                            <label class="zte-form-item-label" style="width: 160px">企业注册时间</label>
                            <div class="zte-form-item-content">
                                <input name="comCreateddate" class="form-control" id="comCreateddate" data-rule="required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="attr-select-footer modal-footer">
            <button type="button" class="btn btn-primary confirm_attention_select_btn" id="saveCom">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancleCom">取消</button>
        </div>

</div></section>