<section id="content">
    <div class="login">
        <form id="loginForm">
            <div class="zte-form-item-content">
                <h3 class="modal-title">登录</h3></div>
            <div class="zte-form-item-content">
                <div class="form-group has-prompt">
                    <span class="glyphicon glyphicon-user form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control" name="userAccount" placeholder="账号"/></div>
            </div>

            <div class="zte-form-item-content">
                <div class="form-group  has-prompt has-feedback">
                    <span class="glyphicon glyphicon-lock form-control-prompt" aria-hidden="true"></span>
                    <input class="form-control" name="userPassword" type="password" placeholder="密码"/>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span></div>
            </div>

            <!--<div class="zte-form-item-content">-->
            <!--<button class="loginBtn btn btn-primary">登录</button>-->
            <!--</div>-->

            <!--<div class="zte-form-item-content">-->
            <!--<p><a class="registerBtn">注册<i class="icon-arrow"></i></a>-->
            <!--<a class="findPasswordBtn">忘记密码<i class="icon-arrow"></i></a></p>-->
            <!--</div>-->
        </form>
        <div class="attr-select-footer modal-footer">
            <button type="button" class="btn btn-primary confirm_attention_select_btn" id="loginBtn">登录</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="registerBtn">注册</button>
            <p><a class="findPasswordBtn icon-arrow">忘记密码</a></p>
        </div>
    </div>
</section>